@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
	background-image: linear-gradient(#f6dc8c, #c65c72);
	position: relative;
	background-color: #150C07;
	overflow-x: hidden;
	overflow-y: auto;
}

.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 325px;
	height: 550px;
	background-color: white;
	padding: 25px;
	border-radius:25px;
	position: relative;
}

#board {
	text-align: center;
	color: #04122c;
}

#board .avatar img {
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

div.container {
	position: absolute;
	bottom: 20px;
	left: 15px;
	right: 15px;
}

ul.icons {
	cursor: default;
	margin: auto;
    padding: 0;
    list-style: none;
	display: inline-block;
}

	ul.icons li {
		margin-left: 10px;
		margin-right: 10px;
		float: left;
		line-height: 28px;
		padding: 0;
	}

		ul.icons li a {
			text-decoration: none;
			position: relative;
			display: block;
			width: 3.75em;
			height: 3.75em;
			border-radius: 100%;
			border: solid 1px #c8cccf;
			line-height: 3.75em;
			overflow: hidden;
			text-align: center;
			text-indent: 3.75em;
			white-space: nowrap;
		}

			ul.icons li a:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			ul.icons li a:before {
				color: #04122c;
			}

			ul.icons li a:before {
				position: absolute;
				top: 0;
				left: 0;
				width: inherit;
				height: inherit;
				font-size: 1.85rem;
				line-height: inherit;
				text-align: center;
				text-indent: 0;
			}

			ul.icons li a:hover {
				border-color: #04122c;
			}

		@media screen and (max-width: 480px) {

			ul.icons li a:before {
				font-size: 1.5rem;
			}

		}
		
#board .resume {
	text-align: left;
	font-weight: 300;
}

#board .name {
	font-weight: 400;
	text-align: center;
}
